*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Exo 2', sans-serif;
}

/*Section1*/

/*Navbar*/
.section-1{
	height: 100vh;
	width: 100vw;
	background-color: #121212;
}

.topnav h1{
  font-size: 17px;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 50px;
  text-decoration: none;
  font-weight: normal;
}

.topnav {
  background-color: #121212;
  overflow: hidden;
  position: relative;
  top: 100px;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 100px;
  text-decoration: none;
  font-size: 17px;
  position: relative;
  right: 0px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.section-1 img{
	height: 100vh;
	width: 300px;
	position: absolute;
	left: 200px;
	top: 0px;
}

.page-1 h1{
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 80px;
    position: absolute;
    top: 300px;
    left: 500px;
} 

.page-1 p{
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    position: absolute;
    top: 450px;
    left: 700px;
}

.section-2{
	height: 100vh;
	width: 100vw;
	background-color: #121212;
}

/*Projects*/


.testi-desc{
	height: 100vh;
	width: 100vw;
	text-align: center;
	padding-top: 100px;
	background-color: #121212;
}

.testi-desc h1{
	font-weight: normal;
	letter-spacing: 0.1rem;
	font-size: 40px;
	color: white;
}

.testi-text> p{
	font-weight: none;
	font-size: 14px;
	letter-spacing: 0rem;
	color: white;
}

.testi-area{
	height: 80%;
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	position: relative;
	bottom: 90px;
	transition: 0.2s;
	margin-top: 20px;
}

.testi-box > .testi-text{
	padding: 25px;
}

.testi-box > .testi-img > img{
	border-radius: 50%;
	width: 45px;
	height: 45px;
	position: relative;
	z-index: 1;
	bottom: 23px;
}

.testi-box > .testi-img > h1{
	position: relative;
	bottom: 25px;
}

.testi-box > .testi-img{
	text-align: center;
}

.testi-box > hr{
	border-top: 1px solid darkgrey;
}

.testi-desc > .testi-area > .testi-box{
	border: 1px solid darkgrey;
	width: 250px;
	height: 270px;
	margin: 20px;
	position: relative;
	color: white;
}

.testi-box:hover {
	box-shadow: 0px 80px 53px -75px rgba(0,0,0,0.75);
	bottom: 8px;
	transition: 0.2s;
}


/*Contact me*/

.contact-me{
	background-color: #121212;
	height: 100vh;
	width: 100vw;
	background-size: cover;
	background-position: center;
	padding-top: 50px;	
}

h4{
	font-size: 50px;
	position: relative;
	right: 25%;
	font-weight: normal;
	letter-spacing: 0.3rem;
	color: white;
}
}

.right > form {
	height: 60vh;
	width: 80%;
	background-color: white;
	text-align: center;
}

form > h4 {
	font-size: 50px;
	text-align: center;
	margin: 0px;
}

input {
	display: block;
	border: 2px #413d3d;
	margin: 10px auto;
	height: 35px;
	width: 300px;
	border-radius: 10px;
	position: relative;
	right: 25%;
	font-size: 20px;
	text-align: center;
}

#message-box{
	display: block;
	border: 2px #413d3d;
	margin: 10px auto;
	height: 200px;
	width: 300px;
	border-radius: 10px;
	position: relative;
	right: 25%;
	font-size: 20px;
	text-align: center;
}

.btn {
	background-color: #9c8b8b;
	color: white;
	border-style: none;
	padding: 10px 20px;
	border-radius: 20px;
	transition: .4s;
	position: relative;
	left: 21vw;
	font-size: 20px;
}

.btn:hover{
	background-color: #228999;
  	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.gmap-zuitt{
	position: relative;
	bottom: 460px;
	left: 650px;
}